.header{
background-color: $light-white;
display: flex;
justify-content:space-around;
//border:1px solid red;
align-items: center;
//flex-direction: row;
    &__logo{
        width: 15%;
        //border: 1px solid red;
       // margin-right: 20rem;
        &__img{
        width:100% ;
        }

    }
   
} 