.sectionEight{
    background-color:$light-green ;
&__inner{
    display: flex;
&__head{
    width: 60%;
    
    &__h1{
        padding-top: 10rem;
        padding-left: 5rem;
        font-size: 30px;
  color: #fff;
    }
}
    &__button{
        width: 40%;
    }
}
}

