.CDateAndDayes{
   // border:1px solid green;
   margin-top:2rem;

&__ContainerDayAndTime{
   // border: 1px solid red;
    display: flex;
    width: 100%;
    &__day{
       // border: 1px solid blue;
        color: rgb(184, 180, 180);;
        margin-right: 5rem;
        width:50%;

    }
    &__time{
      //  border: 1px solid yellow;
        color: rgb(184, 180, 180);
        width:30%;
        margin-left: 3rem;
        &__h3{
            padding-left: 5rem;
        }
    }
}
&__line{
    margin-top: .5rem;
    border-bottom: 1px dashed #fff;
    width: 100%;
}

}