.iconsCard{
   
    display: flex;
    align-items: center;
    width:100%;
    margin-bottom: 5rem;
    &--primary{
        display: flex;
        width:20%;
    }
   // justify-content:space-around;
    &__icon{
        width: 10%;
        &:hover{
            color:$light-green;
        }
        &__img{
            display:block;
            width: 100%;
            margin-bottom: 50px;
            
            
        }

    }
    &__text{

        margin-left: 10rem;
        width:70% ;
        &__h3{
            padding-bottom: .8rem;
            font-size: 24px;
            display: inline-block;
            color: $pure-black;
            font-weight: 700px;
            line-height: 1.4;
            margin-bottom: 1rem;
        }
        &__spanContainer{
            line-height: 2;
        &__span{
            color: $pure-black; 
             font-size: 16px ;

        }
    }
    }
    
}