.iconsCardFirst{
    width: 20%;
    border: 1px solid red;
    animation-name: flib;
    display: flex;
    &__icon{
        width: 50%;
        color: rgb(12, 131, 95);
        
        height: auto;
        margin-left: 6rem;
        margin-top: 1rem;
       
       border: 3px solid black;
       border-radius: 50%;
       &:hover{
       
          background-color: rgb(12, 131, 95);
          color:#fff;
          transform:rotateZ(180deg);

       }
        &__img{
            font-size: 7rem;
            width:100%;
            height:auto;

            padding: 3rem;
           // padding-left: 0rem;
           text-align: center;
        }

    }/*end of iconnnnnnn*/
    &__text{
          
        width: 90%;
        text-align: center;
        margin-top: 2rem;
                        color:#000;
                        margin-bottom: 3rem;
        margin-left: .5rem;
        &__h3{
            padding-bottom: .8rem;
            font-size: 24px;
            display: inline-block;
            color: $pure-black;
            font-weight: 700px;
            line-height: 1.4;
            margin-bottom: 1rem;

           
            
            margin-top: 1rem
        }
        &__spanContainer{
        
            width: 90%;
                    margin-left: 2rem;
                    text-align: center;
                    font-size: 1.2rem;
                    margin-top: 2.5rem;
                    line-height: 2;
                    color: #686868;
        &__span{
            color: $pure-black; 
             font-size: 16px ;
             display: inline-block;
             padding-bottom: 3rem;
        }
    }
    }
    
}
@keyframes flib{

    
}